<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Family Application</title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/bootstrap-theme.min.css">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			body { padding-top: 70px; }
		</style>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">
						Family
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav" role="tablist">
						<li role="presentation" class="active"><a href="#">Home</a></li>
						<li role="presentation"><a href="#">Link1</a></li>
						<li role="presentation"><a href="#">Link2</a></li>
						<li role="presentation"><a href="#">Link3</a></li>
						<li role="presentation" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Dropdown<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Action1</a></li>
								<li><a href="#">Action2</a></li>
								<li><a href="#">Action3</a></li>
								<li class="divider"></li>
								<li><a href="#">One more Action</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Search
				</div>
				<div class="panel-body">
					<form role="form" class="form-horizontal">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="inputName" class="col-sm-2 control-label">Name</label>
									<div class="col-sm-10">
										<input type="email" name="Name" id="inputName" class="form-control" placeholder="Name">
									</div>
								</div>
								
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="inputAddress" class="col-sm-2 control-label">Address</label>
									<div class="col-sm-10">
										<input type="email" name="Address" id="inputAddress" class="form-control" placeholder="Address">
									</div>
								</div>
								
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="inputName" class="col-sm-2 control-label">Name</label>
									<div class="col-sm-10">
										<input type="email" name="Name" id="inputName" class="form-control" placeholder="Name">
									</div>
								</div>
								
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="inputAddress" class="col-sm-2 control-label">Address</label>
									<div class="col-sm-10">
										<input type="email" name="Address" id="inputAddress" class="form-control" placeholder="Address">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-offset-2 col-sm-3">
								<div class="form-group">
									<button class="btn btn-primary">Submit</button>
									<button class="btn btn-default">Cancel</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="panel-body">
					<div class="panel panel-primary">
						<div class="panel-heading">
							Result
						</div>
						<div class="panel-body">
							<table class="table table-striped table-hover table-bordered">
								<tbody>
									<tr>
										<th>#</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Address</th>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark</td>
										<td>Otto</td>
										<td>address1</td>
									</tr>
									<tr>
										<td>2</td>
										<td>Jacob</td>
										<td>Thornton</td>
										<td>address2</td>
									</tr>
									<tr>
										<td>3</td>
										<td>Brid</td>
										<td>Flay</td>
										<td>address3</td>
									</tr>
									<tr>
										<td>4</td>
										<td>Mike</td>
										<td>Smith</td>
										<td>address4</td>
									</tr>
								</tbody>
							</table>
							<div class="pagination" style="float:right;">
								<li class="disabled"><a href="#">&laquo;</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
	</body>
</html>